.topbar {
  height: 70px;
  background: white;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.topbar-left {
  flex: 1;
}

.search-input {
  width: 60%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  outline: none;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-box {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background: #f3f4f6;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.profile-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #111827;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  font-weight: bold;
}